td.number {
    text-align: right
}

body {
    padding: 5px;
}

span.breadcrumbs {
    font-style: italic;
}

.mono {
    font-family: monospace;
}

.monolight {
    font-family: monospace,monospace;
    background-color: AliceBlue;

}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0 0;
}
