td.number {
    text-align: right
}

nav#breadcrumbs {
    background-color: #f0f0f0;
    margin: 0px;
    padding: 2px 5px 2px 5px;
}

span.breadcrumbs {
    font-style: italic;
}

.mono {
    font-family: monospace;
}

.monolight {
    font-family: monospace,monospace;
    background-color: AliceBlue;

}

div#message {
    color: red;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0 0;
}
