# -*- yaml -*-
# Values formatted like "_env:ENV_VAR_NAME:default_value" can be overridden by the specified environment variable.
# See https://github.com/yesodweb/yesod/wiki/Configuration#overriding-configuration-values-with-environment-variables

# Static files are found in this directory
static-dir:     "_env:STATIC_DIR:static"
# Assets (upstream static files) are found in this directory
assets-dir:     "_env:ASSETS_DIR:assets"
# Listen address:
host:           "_env:HOST:*4" # any IPv4 host
# Listen port:
port:           "_env:PORT:3000"
# Canonical URL:
approot:        "_env:APPROOT:http://localhost:3000"
# Useful when running behind a reverse proxy:
ip-from-header: "_env:IP_FROM_HEADER:false"

# NB: If you need a numeric value (e.g. 123) to parse as a String, wrap it in single quotes (e.g. "_env:PGPASS:'123'")
# See https://github.com/yesodweb/yesod/wiki/Configuration#parsing-numeric-values-as-strings

database:
  # See config/test-settings.yml for an override during tests
  database: "_env:SQLITE_DATABASE:db/corydalis.sqlite3"
  poolsize: "_env:SQLITE_POOLSIZE:10"

# Optional values with the following production defaults.
# In development, they default to the inverse.
#
# development: false
# detailed-logging: false
# should-log-all: false
# reload-templates: false
# mutable-static: false
# skip-combining: false

config:
  # List of directories holding source pictures:
  sourcedirs: ["/pics/raw"]
  # List of directories containing output pictures:
  outputdirs: ["/pic/jpegs"]
  # Don't recurse into any subdirs listed here:
  blacklisteddirs: [".thumbnails"]
  # Where to store the generated thumbnails and small size previews
  cachedir: "/pics/cache"
  # Thumbnail size. Previews at this size or lower will be generated
  # in an optimised way (see ImageMagick convert's "-thumbnail"
  # option), stripping unneeded information, and saved as PNGs; images
  # above will be saved as JPEGs.
  thumbnailsize: 64
  # Automatically-generated image sizes; recommended to include common
  # resolutions the pictures will be viewed at and thumbnail sizes
  # (64×64, 128×128). You can list the entries in any order (they will
  # be used in sorted order), but it's more readable to list them
  # sorted as well. Note that the value "thumbnailsize" above is
  # automatically added to this list.
  autoimgsizes: [1920, 2560]
  # Other image sizes that will be generated and saved to cachedir,
  # but only on demand. If a value appears both here and in
  # autoimgsizes, the entry here will have no effect.
  demandimgsizes: [3840, 7680]
  # List of extensions considered "RAW" files:
  rawexts: ["nef", "raf", "orf", "crw", "tif", "tiff", "dng"]
  # List of extensions considered processed pictures:
  jpegexts: ["jpg", "jpeg"]
  # Lists of extensions for sidecar files:
  sidecarexts: ["xmp"]
  # Lists of other extensions (e.g. thumbnail files):
  otherexts: ["png"]
  # Valid directory pattern (groups are ignored):
  dirregex: "([0-9]{4}-[0-9]{2}-[0-9]{2})(.*)"
  # Regex denoting the name of a picture composed from other
  # pictures, e.g. panoramas; exactly three groups are expected, in
  # order: base filename, start index, end index.
  rangeregex: "(.*_)([0-9]+)-([0-9]+)"
  # Copy regex: the first group is the base filename, any other
  # groups are ignored:
  copyregex: "(.*)(-([0-9]|Edit))"
  # Prefix in Hierarchical Subject keywords that denote entries
  # underneath it represent people. This keyword itself will be
  # ignored. Additionally, the tag 'PeopleInImage' will also be used,
  # but without using/requiring this prefix.
  peopleprefix: "_People"
  # Ignore any (individual) keywords prefixed with this string. Again,
  # useful for hierarchies.
  ignoreprefix: "_"
