# -*- yaml -*-

Default: &defaults
  # Listen address:
  host: "*4" #any IPv4 host
  # Listen port:
  port: 3000
  # Canonical URL:
  approot: "http://localhost:3000"
  # Copyright statement
  copyright: Insert copyright statement here
  # URL that will be used for externally hosted JavaScript libraries"
  # $javascripturl/jquery/jquery.js
  # $javascripturl/jquery-metadata/jquery.metadata.js"
  # $javascripturl/jquery-tablesorter/jquery.tablesorter.js"
  javascripturl: "http://localhost/javascript/"
  config:
    # List of directories holding pictures:
    dirs: ["/pics"]
    # Don't recurse into any subdirs listed here:
    blacklisteddirs: [".thumbnails"]
    # List of extensions considered "RAW" files:
    rawexts: ["nef"]
    # List of extensions considered processed pictures:
    jpegexts: ["jpg", "jpeg"]
    # Lists of extensions for sidecar files:
    sidecarexts: ["xmp"]
    # Lists of other extensions (e.g. thumbnail files):
    otherexts: ["png"]
    # Valid directory pattern (groups are ignored):
    dirregex: "([0-9]{4}-[0-9]{2}-[0-9]{2})(.*)"
    # Regex denoting the name of a picture composed from other
    # pictures, e.g. panoramas; exactly three groups are expected, in
    # order: base filename, start index, end index.
    rangeregex: "(.*_)([0-9]+)-([0-9]+)"
    # Copy regex: the first group is the base filename, any other
    # groups are ignored:
    copyregex: "(.*)(-([0-9]|Edit))"
    # Delta (in seconds) between raw/sidecar file and processed file
    # after which the jpeg file is considered "outdated":
    outdatederror: 5

Development:
  <<: *defaults

Testing:
  <<: *defaults

Staging:
  <<: *defaults

Production:
  #approot: "http://www.example.com"
  <<: *defaults
