td.number {
    text-align: right
}

td.date {
    text-align: right
}

.mono {
    font-family: monospace;
}

.monolight {
    font-family: monospace,monospace;
    background-color: AliceBlue;

}

.no-padding {
    padding: 0px;
}

button.no-padding {
    padding: 0px 3px 0px 3px;
}

div#message {
    color: red;
}

.graph {
    min-height: 400px;
}

.largegraph {
    min-height: 600px;
}

/* Ensure that full-screen is full-screen. Works well by default on
Gecko, but Webkit behaves differently. */
div:-webkit-full-screen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}
div:-moz-full-screen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}
div:-ms-fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}
div:fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

div.fake-fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

nav#nav.nav-hidden {
    display: none;
}

table.vmiddle tr th {
  vertical-align: middle;
}

table.vmiddle tr td {
  vertical-align: middle;
}

footer {
    font-style: italic;
}

/* Bootstrap 4: point size 16px too big (for me) */
html {
  font-size: 14px;
}

/* For masonry layouts, restrict image size to be bound by the
 * enclosing container */
.grid-item-image {
    max-width: 100%;
}

.icon-overlay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    opacity: 0.9;
}

div#imageNav {
    z-index: 2;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    opacity: 0.5;
}

span#messageBox {
    font-size: x-large;
    background-color: rgb(200,200,200,0.5);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

span#persistBox {
    font-style: italic;
    font-size: large;
}
