td.number {
    text-align: right
}

td.date {
    text-align: right
}

.mono {
    font-family: monospace;
}

.monolight {
    font-family: monospace, monospace;
    background-color: AliceBlue;

}

.no-padding {
    padding: 0px;
}

button.no-padding {
    padding: 0px 3px 0px 3px;
}

div#message {
    color: red;
}

.graph {
    min-height: 400px;
}

.largegraph {
    min-height: 600px;
}

/* Ensure that full-screen is full-screen. Works well by default on
Gecko, but Webkit behaves differently. */
div:-webkit-full-screen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

div:-moz-full-screen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

div:-ms-fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

div:fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

div.fake-fullscreen {
    width: 100% !important;
    top: 0px !important;
    background-color: black;
}

nav#nav.nav-hidden {
    display: none;
}

table.vmiddle tr th {
    vertical-align: middle;
}

table.vmiddle tr td {
    vertical-align: middle;
}

footer {
    font-style: italic;
}

/* Bootstrap 4: point size 16px too big (for me) */
html {
    font-size: 14px;
}

/* For masonry layouts, restrict image size to be bound by the
 * enclosing container */
.grid-item-image {
    max-width: 100%;
}

.icon-overlay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    opacity: 0.9;
}

div#imageNav {
    z-index: 2;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    opacity: 0.5;
}

@media(min-width: 0) {
    div#imageNav>button {
        font-size: xx-small;
    }
}

@media(min-width: 48em) {
    div#imageNav>button {
        font-size: x-small;
    }
}

@media(min-width:62em) {
    div#imageNav>button {
        font-size: small;
    }
}

@media(min-width:75em) {
    div#imageNav>button {
        font-size: medium;
    }
}

video.viewer-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

span#messageBox {
    font-size: x-large;
    background-color: rgb(200, 200, 200, 0.5);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

span#persistBox {
    font-style: italic;
    font-size: large;
}

/* Bootstrap 5 enforces bottom borders. Bootstrap 4 did top borders, but that
 * was less visible due to .card-header colour. With v5, need to fix this. */
.card .table tr:last-child td {
    border-bottom-width: 0px;
}

/* Get rid of bottom margins with Bootstrap 5. */
.card>.table {
    margin-bottom: 0px;
}
